# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor/
/node_modules/

# Build output
/public/build/
/dist/
/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Testing / Coverage
/coverage/
/.phpunit.cache/
/.pest.cache/

# Laravel later
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Sail / Docker local overrides
docker-compose.override.yml
