includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
    - bootstrap
    - config
    - database
    - routes
    - tests

  level: 5

  tmpDir: storage/framework/cache/phpstan
